<html>
	<head>
		<meta charset="utf-8" />
	    <title>Anträge in BVVs</title>
		<link rel="stylesheet" href="./bower_components/leaflet/dist/leaflet.css" />
		<link rel="stylesheet" href="styles/popup.css" />
		<link rel="stylesheet" href="styles/filters.css" />
		<script src="./bower_components/leaflet/dist/leaflet.js"></script>
		<style>
			* {
				box-sizing: border-box;
				margin: 0 0;
			}

			#map {
				width: 100%;
				height: 100%;
				display: block;
			}

			.about {
				position: absolute;
				top: 80px;
				left: 10px;
				text-decoration: none;
				font-weight: bold;
			}

			#filter {
				position: absolute;
				right: 10px;
				top: 10px;
				display: block;
				z-index: 2000;
				background: white;
			}

		</style>
		<script src="./bower_components/jquery/dist/jquery.min.js"></script>
		<script src="./bower_components/lodash/dist/lodash.min.js"></script>
		<script src="js/app.js"></script>

		<script type="text/html" id="tooltip_tmpl">
			<div class="description"><%= stadtplanadresse %></div>
			<div class="title"><%= standort  %></div>
			<ul class="containers">
				<li class="container-brown <% if (braun === "") { %> hidden<% }%>">
					<span><%= braun %></span>
				</li>
				<li class="container-green <% if (gruen === "") { %> hidden<% }%>">
					<span><%= gruen %></span>
				</li>
				<li class="container-white <% if (weiss === "") { %> hidden<% }%>">
					<span><%= weiss %></span>
				</li>
				<li class="container-colored <% if (bunt === "") { %> hidden<% }%>">
					<span><%= bunt %></span>
				</li>
			</ul>
			<div class="supplier">Aufsteller: <%= aufsteller %></div>
		</script>

	</head>
	<body>
		<div id=map>
		</div>
		<div class="about leaflet-bar">
			<a href="https://github.com/k-nut/altglas" title="Über das Projekt ...">?</a>
		</div>
		<div id="filter" class="filters">
			<h2>Drucksachen in Berliner BVVs</h2>
<!-- <p>Noch sind leider nur die Daten für Friedrichshain und Neukölln da.</p> -->
			<p>Hier kannst du einschränken, welche Drucksachen angezeigt werden.</p>
			<div class="filter-controls">
				<input type="checkbox" id="cdu" /> <label for="cdu"> CDU </label>
				<input type="checkbox" id="spd" /> <label for="spd"> SPD </label>
				<input type="checkbox" id="linke" /> <label for="linke"> Linke </label>
				<input type="checkbox" id="gruene"/> <label for="gruene"> Grüne </label>
				<input type="checkbox" id="fdp" /> <label for="fdp"> FDP </label>
				<input type="checkbox" id="piraten"/> <label for="piraten"> Piraten </label>
				<input type="checkbox" id="andere"/> <label for="anderepartei"> andere </label>				
				Bezirk: <select id="bezirk">
					<option value="">------</option>
					<option value="FK">Friedrichshain-Kreuzberg </option> 
					<option value="LI">Lichtenberg</option> 
					<option value="PA">Pankow</option> 
					<option value="MH">Marzahn-Hellersdorf</option> 
					<option value="RD">Reinickendorf</option> 
					<option value="SP">Spandau </option> 
					<option value="MI">Mitte </option> 
					<option value="CW">Charlottenburg-Wilmersdorf</option> 
					<option value="SZ">Steglitz-Zehlendorf </option> 
					<option value="TS">Tempelhof-Schöneberg </option> 
					<option value="NK">Neukölln </option> 
					<option value="TK">Treptow-Köpenick </option> 
				</select>
				Ausschuss: <select id="ausschuss">
					<option value="">------</option>
					<option value="Bau">Bau</option> 
					<option value="Haushalt">Haushalt</option> 
				</select>
				Typ: <select id="typ">
					<option value="">------</option>
					<option value="Antrag">Antrag</option> 
					<option value="Anfrage">Anfrage</option> 
					<option value="Resolution">Resolution</option> 
				</select>
				#Parteien: <select id="anzahlparteien">
					<option value="">------</option>
					<option value=1>1</option>  
					<option value=2>2</option>  
					<option value=3>3</option>  
					<option value=4>4</option>  
				</select> 
			</div>

		</body>
	</html>
